In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("netflix_reviews.csv")

In [3]:
data.head(3)

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,8390a320-5d50-42f8-a573-f5cdd97d2ea3,Madhu Ram,Sleeimfh Vertical for a reason,5,0,7.58.0 build 26 34888,2024-06-12 22:01:30,7.58.0 build 26 34888
1,ef083300-d950-4975-806f-9fbd73afef36,Maddie :3,"I complained before, but now I'm pretty upset ...",1,3,8.116.0 build 8 50690,2024-06-12 21:59:37,8.116.0 build 8 50690
2,5039c9c3-3b94-4bb6-b77b-af068b087361,Adriana Torregrossa,On top of everything that has been going down ...,1,0,8.118.1 build 10 50703,2024-06-12 21:44:11,8.118.1 build 10 50703

In [4]:
data = data.drop(columns=["userName", "thumbsUpCount", "reviewCreatedVersion", "at", "appVersion"])

In [5]:
data.head()

,reviewId,content,score
0,8390a320-5d50-42f8-a573-f5cdd97d2ea3,Sleeimfh Vertical for a reason,5
1,ef083300-d950-4975-806f-9fbd73afef36,"I complained before, but now I'm pretty upset ...",1
2,5039c9c3-3b94-4bb6-b77b-af068b087361,On top of everything that has been going down ...,1
3,aa83492e-b8c4-4b97-a1a3-10982d48a861,This app is really good cuz of the internation...,3
4,d208f2ef-b8a4-49a3-8b6f-e46edb692458,Why are we expected to pay individually instea...,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  5999 non-null   object
 1   content   5997 non-null   object
 2   score     5999 non-null   int64
dtypes: int64(1), object(2)
memory usage: 140.7+ KB

In [7]:
data.dropna(inplace=True,axis=0,subset=['content'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5997 entries, 0 to 5998
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  5997 non-null   object
 1   content   5997 non-null   object
 2   score     5997 non-null   int64
dtypes: int64(1), object(2)
memory usage: 187.4+ KB

In [9]:
data.describe()

             score
count  5997.000000
mean      2.862765
std       1.817566
min       1.000000
25%       1.000000
50%       2.000000
75%       5.000000
max       5.000000

In [10]:
data["score"].value_counts()

score
1    2580
5    2194
2     438
3     398
4     387
Name: count, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data["content"],data["score"],shuffle=True,stratify=data["score"],train_size=0.9)

In [12]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [13]:
bert_preprocessor = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [14]:
# Bert layers
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocessor(text_input)
outputs = bert_encoder(preprocessed_text)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

# Compile final model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_type_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_mask': (Non
                                e, 128),
                                 'input_word_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  109482241   ['keras_layer[0][0]',
                                 [(None, 128, 768),               'keras_layer[0][1]',
                                 (None, 128, 768),                'keras_layer[0][2]']
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'default': (None,
                                768),
                                 'sequence_output':
                                 (None, 128, 768),
                                 'pooled_output': (
                                None, 768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 109,483,010
Trainable params: 769
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [15]:
model.fit(x_train,y_train,epochs=5)

Epoch 1/5
169/169 [==============================] - 67s 355ms/step - loss: -54.6810 - accuracy: 0.4302
Epoch 2/5
169/169 [==============================] - 62s 364ms/step - loss: -161.7740 - accuracy: 0.4302
Epoch 3/5
169/169 [==============================] - 59s 351ms/step - loss: -269.1271 - accuracy: 0.4302
Epoch 4/5
169/169 [==============================] - 59s 350ms/step - loss: -376.6097 - accuracy: 0.4302
Epoch 5/5
169/169 [==============================] - 59s 348ms/step - loss: -484.0258 - accuracy: 0.4302

In [16]:
# Acccuracy is low because less model training is done 
model.evaluate(x_test,y_test)

19/19 [==============================] - 7s 342ms/step - loss: -536.4547 - accuracy: 0.4283

[-536.4546508789062, 0.4283333420753479]